
    <form method="post">
        <p>
            Brand: <input type="text" name="brand">
        </p>
        <p>
            Model: <input type="text" name="model">
        </p>
        <p>
            Color: <input type="color" name="color">
        </p>
        <p>
            Max speed: <input type="number" name="max_speed">
        </p>
        <p>
            Available: <input type="checkbox" name="available" value="1">
        </p>
        <button type="submit">Submit</button> 


    </form>
    <a href="/"><button>Back to the list</button></a>

</body>
</html>